In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Kolkata.csv')

In [3]:
df.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,2235000,1016,Barasat,3,0,0,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
1,3665999,1111,Keshtopur,2,0,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,3774000,1020,Rajarhat,2,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,2524000,935,Narendrapur,2,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,8300000,1956,New Town,3,1,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df = pd.get_dummies(df, columns=["Location"])

In [ ]:
df = df.dropna()

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()
df["Area"] = scaler.fit_transform(df[["Area"]])
df["No. of Bedrooms"] = scaler.fit_transform(df[["No. of Bedrooms"]])
df["BED"] = scaler.fit_transform(df[['BED']])

In [ ]:
df.describe()

In [ ]:
from sklearn.model_selection import train_test_split
X = df.drop("Price", axis=1)
y = df["Price"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

In [ ]:
from sklearn.metrics import mean_squared_error
y_pred = rf.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print("Root Mean Squared Error:", rmse)

In [ ]:
X_train.shape

In [ ]:
rf.n_features_

In [ ]:
new_data = pd.DataFrame({"Area": [1500], "BED": [5], "Location": ["Behala"]})
new_data = pd.get_dummies(new_data, columns=["Location"])
new_data["size"] = scaler.transform(new_data[["Area"]])
new_data["age"] = scaler.transform(new_data[["BED"]])
predicted_price = rf.predict(new_data)
"Predicted Price:", predicted_price

In [ ]:
data.info()

In [ ]:
data.head()

In [ ]:
data['location'].value_counts()

In [ ]:
data['location'] = data['location'].fillna('Sarjapur Road')

In [ ]:
data['size'].value_counts()

In [ ]:
data['size'] = data['size'].fillna('2 BHK')

In [ ]:
data['bath'] = data['bath'].fillna(data['bath'].median())

In [ ]:
data.info()

In [ ]:
data['bhk'] = data['size'].str.split().str.get(0).astype(int)

In [ ]:
data[data.bhk > 20]

In [ ]:
data['total_sqft'].unique()

In [ ]:
def covertRange(x):
    
    temp = x.split('-')
    if len(temp)  == 2:
        return (float(temp[0]) + float(temp[1])) / 2
    
    try:
        return float(x)
    except:
        return None

In [ ]:
data['total_sqft'] = data['total_sqft'].apply(covertRange)

In [ ]:
data.head()

In [ ]:
data['price_per_sqft'] = data['price'] * 100000 / data['total_sqft']

In [ ]:
data['price_per_sqft']

In [ ]:
data.describe()

In [ ]:
data['location'].value_counts()

In [ ]:
data['location'] = data['location'].apply(lambda x: x.strip())
location_count = data['location'].value_counts()

In [ ]:
location_count

In [ ]:
location_count_less_10 = location_count[location_count <= 10]
location_count_less_10

In [ ]:
data['location'] = data['location'].apply(lambda x: 'other' if x in location_count_less_10 else x)

In [ ]:
data['location'].value_counts()

In [ ]:
data.shape

In [ ]:
data.describe()

In [ ]:
(data['total_sqft']/data['bhk']).describe()

In [ ]:
data.shape