In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Kolkata.csv')

In [3]:
data.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,2235000,1016,Barasat,3,0,0,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
1,3665999,1111,Keshtopur,2,0,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,3774000,1020,Rajarhat,2,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,2524000,935,Narendrapur,2,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,8300000,1956,New Town,3,1,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0

In [4]:
data.shape

(6507, 40)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6507 entries, 0 to 6506
Data columns (total 40 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                6507 non-null   int64
 1   Area                 6507 non-null   int64
 2   Location             6507 non-null   object
 3   No. of Bedrooms      6507 non-null   int64
 4   Resale               6507 non-null   int64
 5   MaintenanceStaff     6507 non-null   int64
 6   Gymnasium            6507 non-null   int64
 7   SwimmingPool         6507 non-null   int64
 8   LandscapedGardens    6507 non-null   int64
 9   JoggingTrack         6507 non-null   int64
 10  RainWaterHarvesting  6507 non-null   int64
 11  IndoorGames          6507 non-null   int64
 12  ShoppingMall         6507 non-null   int64
 13  Intercom             6507 non-null   int64
 14  SportsFacility       6507 non-null   int64
 15  ATM                  6507 non-null   int64
 16  ClubHouse            6507 non-null   int64
 17  School               6507 non-null   int64
 18  24X7Security         6507 non-null   int64
 19  PowerBackup          6507 non-null   int64
 20  CarParking           6507 non-null   int64
 21  StaffQuarter         6507 non-null   int64
 22  Cafeteria            6507 non-null   int64
 23  MultipurposeRoom     6507 non-null   int64
 24  Hospital             6507 non-null   int64
 25  WashingMachine       6507 non-null   int64
 26  Gasconnection        6507 non-null   int64
 27  AC                   6507 non-null   int64
 28  Wifi                 6507 non-null   int64
 29  Children'splayarea   6507 non-null   int64
 30  LiftAvailable        6507 non-null   int64
 31  BED                  6507 non-null   int64
 32  VaastuCompliant      6507 non-null   int64
 33  Microwave            6507 non-null   int64
 34  GolfCourse           6507 non-null   int64
 35  TV                   6507 non-null   int64
 36  DiningTable          6507 non-null   int64
 37  Sofa                 6507 non-null   int64
 38  Wardrobe             6507 non-null   int64
 39  Refrigerator         6507 non-null   int64
dtypes: int64(39), object(1)
memory usage: 2.0+ MB

In [6]:
for column in data.columns:
    print(data[column].value_counts())
    print("*"*20)

4000000    99
4500000    97
5500000    96
3500000    94
6500000    93
           ..
2037000     1
2186000     1
3561999     1
3153000     1
4208000     1
Name: Price, Length: 1660, dtype: int64
********************
800     141
750      98
1100     89
850      85
1200     81
       ...
1612      1
4640      1
3226      1
1329      1
968       1
Name: Area, Length: 1188, dtype: int64
********************
New Town               711
Rajarhat               405
Tangra                 369
Dum Dum                316
Garia                  307
                      ...
New Shakuntala Park      1
Kasba Siemens            1
New Barrackpur           1
Bondal Gate              1
Durganagar               1
Name: Location, Length: 308, dtype: int64
********************
3    3128
2    2622
4     512
1     198
5      38
6       8
9       1
Name: No. of Bedrooms, dtype: int64
********************
0    4478
1    2029
Name: Resale, dtype: int64
********************
9    6432
0      57
1      18
Name: MaintenanceStaff, dtype: int64
********************
9    6432
1      44
0      31
Name: Gymnasium, dtype: int64
********************
9    6432
0      40
1      35
Name: SwimmingPool, dtype: int64
********************
9    6432
0      40
1      35
Name: LandscapedGardens, dtype: int64
********************
9    6432
0      48
1      27
Name: JoggingTrack, dtype: int64
********************
9    6432
0      54
1      21
Name: RainWaterHarvesting, dtype: int64
********************
9    6432
0      45
1      30
Name: IndoorGames, dtype: int64
********************
9    6432
0      69
1       6
Name: ShoppingMall, dtype: int64
********************
9    6432
0      39
1      36
Name: Intercom, dtype: int64
********************
9    6432
0      50
1      25
Name: SportsFacility, dtype: int64
********************
9    6432
0      73
1       2
Name: ATM, dtype: int64
********************
9    6432
0      41
1      34
Name: ClubHouse, dtype: int64
********************
9    6432
0      74
1       1
Name: School, dtype: int64
********************
9    6432
1      47
0      28
Name: 24X7Security, dtype: int64
********************
9    6432
1      53
0      22
Name: PowerBackup, dtype: int64
********************
9    6432
0      41
1      34
Name: CarParking, dtype: int64
********************
9    6432
0      66
1       9
Name: StaffQuarter, dtype: int64
********************
9    6432
0      61
1      14
Name: Cafeteria, dtype: int64
********************
9    6432
0      60
1      15
Name: MultipurposeRoom, dtype: int64
********************
9    6432
0      70
1       5
Name: Hospital, dtype: int64
********************
9    6432
0      69
1       6
Name: WashingMachine, dtype: int64
********************
9    6432
0      72
1       3
Name: Gasconnection, dtype: int64
********************
9    6432
0      70
1       5
Name: AC, dtype: int64
********************
9    6432
0      75
Name: Wifi, dtype: int64
********************
9    6432
1      40
0      35
Name: Children'splayarea, dtype: int64
********************
9    6432
1      57
0      18
Name: LiftAvailable, dtype: int64
********************
9    6432
0      70
1       5
Name: BED, dtype: int64
********************
9    6432
0      55
1      20
Name: VaastuCompliant, dtype: int64
********************
9    6432
0      70
1       5
Name: Microwave, dtype: int64
********************
9    6432
0      72
1       3
Name: GolfCourse, dtype: int64
********************
9    6432
0      72
1       3
Name: TV, dtype: int64
********************
9    6432
0      71
1       4
Name: DiningTable, dtype: int64
********************
9    6432
0      70
1       5
Name: Sofa, dtype: int64
********************
9    6432
0      75
Name: Wardrobe, dtype: int64
********************
9    6432
0      70
1       5
Name: Refrigerator, dtype: int64
********************

In [7]:
data.isna().sum()

Price                  0
Area                   0
Location               0
No. of Bedrooms        0
Resale                 0
MaintenanceStaff       0
Gymnasium              0
SwimmingPool           0
LandscapedGardens      0
JoggingTrack           0
RainWaterHarvesting    0
IndoorGames            0
ShoppingMall           0
Intercom               0
SportsFacility         0
ATM                    0
ClubHouse              0
School                 0
24X7Security           0
PowerBackup            0
CarParking             0
StaffQuarter           0
Cafeteria              0
MultipurposeRoom       0
Hospital               0
WashingMachine         0
Gasconnection          0
AC                     0
Wifi                   0
Children'splayarea     0
LiftAvailable          0
BED                    0
VaastuCompliant        0
Microwave              0
GolfCourse             0
TV                     0
DiningTable            0
Sofa                   0
Wardrobe               0
Refrigerator           0
dtype: int64

In [8]:
data = data.drop(columns = ['Refrigerator', 'Wardrobe', 'Sofa', 'DiningTable', 'TV', 'GolfCourse', 'Microwave', 'VaastuCompliant', 'BED', "Children'splayarea", 'Wifi', 'AC', 'Gasconnection', 'WashingMachine', 'Cafeteria', 'StaffQuarter', 'MultipurposeRoom', 'ClubHouse', 'ATM', 'SportsFacility', 'Intercom', 'ShoppingMall', 'IndoorGames', 'RainWaterHarvesting', 'JoggingTrack', 'SwimmingPool', 'LandscapedGardens', 'Gymnasium', 'MaintenanceStaff','Resale' ])

In [9]:
data.describe()

,Price,Area,No. of Bedrooms,School,24X7Security,PowerBackup,CarParking,Hospital,LiftAvailable
count,6.507000e+03,6507.000000,6507.000000,6507.000000,6507.000000,6507.000000,6507.000000,6507.000000,6507.000000
mean,8.508570e+06,1344.166897,2.631166,8.896419,8.903489,8.904411,8.901491,8.897034,8.905025
std,1.465939e+07,807.698043,0.712283,0.959380,0.895337,0.886638,0.913897,0.953984,0.880791
min,2.000000e+06,350.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.300000e+06,920.000000,2.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
50%,4.940000e+06,1144.000000,3.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
75%,8.000000e+06,1454.000000,3.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
max,5.040000e+08,10000.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6507 entries, 0 to 6506
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Price            6507 non-null   int64
 1   Area             6507 non-null   int64
 2   Location         6507 non-null   object
 3   No. of Bedrooms  6507 non-null   int64
 4   School           6507 non-null   int64
 5   24X7Security     6507 non-null   int64
 6   PowerBackup      6507 non-null   int64
 7   CarParking       6507 non-null   int64
 8   Hospital         6507 non-null   int64
 9   LiftAvailable    6507 non-null   int64
dtypes: int64(9), object(1)
memory usage: 508.5+ KB

In [11]:
data.head()

,Price,Area,Location,No. of Bedrooms,School,24X7Security,PowerBackup,CarParking,Hospital,LiftAvailable
0,2235000,1016,Barasat,3,0,1,1,0,0,1
1,3665999,1111,Keshtopur,2,0,1,1,0,0,0
2,3774000,1020,Rajarhat,2,0,1,1,0,0,1
3,2524000,935,Narendrapur,2,0,1,1,0,0,0
4,8300000,1956,New Town,3,0,1,1,1,0,1

In [ ]:
data['location'].value_counts()

In [ ]:
data['location'] = data['location'].fillna('Sarjapur Road')

In [ ]:
data['size'].value_counts()

In [ ]:
data['size'] = data['size'].fillna('2 BHK')

In [ ]:
data['bath'] = data['bath'].fillna(data['bath'].median())

In [ ]:
data.info()

In [ ]:
data['bhk'] = data['size'].str.split().str.get(0).astype(int)

In [ ]:
data[data.bhk > 20]

In [ ]:
data['total_sqft'].unique()

In [ ]:
def covertRange(x):
    
    temp = x.split('-')
    if len(temp)  == 2:
        return (float(temp[0]) + float(temp[1])) / 2
    
    try:
        return float(x)
    except:
        return None

In [ ]:
data['total_sqft'] = data['total_sqft'].apply(covertRange)

In [ ]:
data.head()

In [ ]:
data['price_per_sqft'] = data['price'] * 100000 / data['total_sqft']

In [ ]:
data['price_per_sqft']

In [ ]:
data.describe()

In [ ]:
data['location'].value_counts()

In [ ]:
data['location'] = data['location'].apply(lambda x: x.strip())
location_count = data['location'].value_counts()

In [ ]:
location_count

In [ ]:
location_count_less_10 = location_count[location_count <= 10]
location_count_less_10

In [ ]:
data['location'] = data['location'].apply(lambda x: 'other' if x in location_count_less_10 else x)

In [ ]:
data['location'].value_counts()

In [ ]:
data.shape

In [ ]:
data.describe()

In [ ]:
(data['total_sqft']/data['bhk']).describe()

In [ ]:
data.shape